# Python stuff
*.pyc
*.pyo

# Mac OS X stuff
.DS_Store

# virtualenv stuff
.Python
bin/
include/
lib/
src/

# pip stuff
pip-log.txt

# Sphinx stuff
docs/_build/

# Eclipse stuff
.project
.pydevproject

# TextMate stuff
*.tmproj

# setuptools stuff
*.egg-info/
dist/